<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterNoticeBoardApp.notice.home.title">Notices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notice" [routerLink]="['/notice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterNoticeBoardApp.notice.home.createLabel">
            Create a new Notice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notices?.length === 0">
        <span jhiTranslate="jhipsterNoticeBoardApp.notice.home.notFound">No notices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notices && notices.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.imageurl">Imageurl</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.url">Url</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.hashtags">Hashtags</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterNoticeBoardApp.notice.board">Board</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notice of notices ;trackBy: trackId">
                    <td><a [routerLink]="['/notice', notice.id, 'view']">{{ notice.id }}</a></td>
                    <td>{{ notice.title }}</td>
                    <td>{{ notice.description }}</td>
                    <td>{{ notice.imageurl }}</td>
                    <td>{{ notice.url }}</td>
                    <td>{{ notice.hashtags }}</td>
                    <td>
                        <div *ngIf="notice.author">
                            <a [routerLink]="['/author', notice.author?.id, 'view']" >{{ notice.author?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="notice.board">
                            <a [routerLink]="['/board', notice.board?.id, 'view']" >{{ notice.board?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/notice', notice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/notice', notice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(notice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
